!  ██████                           ██ ██   ██   ██      ██ ██    ██
! ░█░░░░██                         ░██░░   ░██  ░██     ░██░░    ░░
! ░█   ░██   ██████   ███████      ░██ ██ ██████░██     ░██ ██    ██  ██████
! ░██████   ░░░░░░██ ░░██░░░██  ██████░██░░░██░ ░██████████░██   ░██ ██░░░░██
! ░█░░░░ ██  ███████  ░██  ░██ ██░░░██░██  ░██  ░██░░░░░░██░██   ░██░██   ░██
! ░█    ░██ ██░░░░██  ░██  ░██░██  ░██░██  ░██  ░██     ░██░██ ██░██░██   ░██
! ░███████ ░░████████ ███  ░██░░██████░██  ░░██ ░██     ░██░██░░███ ░░██████
! ░░░░░░░   ░░░░░░░░ ░░░   ░░  ░░░░░░ ░░    ░░  ░░      ░░ ░░  ░░░   ░░░░░░
!
!  ██     ██
! ░░██   ██
!  ░░██ ██   ██████  █████   ██████
!   ░░███   ░░██░░█ ██░░░██ ██░░░░
!    ██░██   ░██ ░ ░███████░░█████
!   ██ ░░██  ░██   ░██░░░░  ░░░░░██
!  ██   ░░██░███   ░░██████ ██████
! ░░     ░░ ░░░     ░░░░░░ ░░░░░░


! ----------------------------------------------------------------------------
! Import other Configuration from ~/.Xresources.d
! ----------------------------------------------------------------------------
#include "/home/bandithijo/.Xresources.d/color/solarized-dark"
#include "/home/bandithijo/.Xresources.d/cursor"
#include "/home/bandithijo/.Xresources.d/sxiv"
#include "/home/bandithijo/.Xresources.d/urxvt"
#include "/home/bandithijo/.Xresources.d/uxterm"
#include "/home/bandithijo/.Xresources.d/xterm"
#include "/home/bandithijo/.Xresources.d/xst"
! ----------------------------------------------------------------------------

